on:
  push:
    branches:
      - main

name: Build and deploy GH Pages
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version: 18

      - name: Install npm dependencies
        run: npm install

      - name: Build npm
        env:
          NODE_ENV: production
        run: npm run build

      - name: Build Zola and deploy
        uses: shalzz/zola-deploy-action@v0.21.0
        env:
          # Provide an access token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
